<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MATCH IN CHRIST</title>
  <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
  <!-- CSS -->
  <link rel="stylesheet" href="../stylesheets/styleGlobal.css">
  <linK rel="stylesheet" href="../stylesheets/aboutUs.css">
  <!-- FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;600&family=Roboto:wght@700&display=swap">
</head>

<main>
  <header>
    <nav class="menu">
      <ul>
        <li>
          <a href="/index.html"><img src="../img/logo-for-header.svg" alt="logo do menu" /></a>
        </li>
        <li><a href="/index.html">Página Inicial</a></li>
        <li><a href="./aboutUs.html">Sobre nós</a></li>
        <li><a href="./login.html" class="btnLogin">Entrar</a></li>
        <li>pt-br</li>
      </ul>
    </nav>
  </header>
  <div class="sobreNos">
    <section class="aboutUs-1">
      <img class="couple-1" src="../img/couple-aboutus-1.jpg" alt="casal sobre nos 1">
      <p class="text-1"><span class="text-first">Match in Christ é uma plataforma de namoro dedicada a cristãos em busca
          de relacionamentos sérios.</span> <br> Oferece
        uma
        maneira segura e acolhedora para pessoas com valores cristãos se conectarem. Através da criação de perfis
        detalhados e algoritmos inteligentes, o site combina indivíduos com base em suas crenças religiosas, promovendo
        relacionamentos significativos. Além disso, a plataforma é inclusiva, atraindo membros de diversas tradições
        cristãs, proporcionando uma experiência diversificada e enriquecedora.</p>
    </section>
    <section class="aboutUs-2">
      <p class="text-2"><span class="text-first">Os usuários têm a oportunidade de compartilhar suas histórias e crescer
          espiritualmente juntos.</span>
        <br> O Match in Christ
        também oferece recursos educacionais e artigos sobre relacionamentos cristãos em seu blog. A plataforma acredita
        que o amor verdadeiro começa com a conexão espiritual e tem como objetivo ajudar os membros a encontrar alguém
        especial com quem possam construir um relacionamento sólido e duradouro, fundamentado na fé cristã. Ao se
        cadastrar no Match in Christ, os usuários dão o primeiro passo em direção a um amor cristão significativo.
      </p>
      <img class="couple-2" src="../img/couple-aboutus-2.png" alt="casal sobre nos 2">
    </section>
  </div>
  <footer>
    <div class="principalLinks">
      <ul>
        <li><a href="">acessibilidade</a></li>
        <li><a href="">termos e condições</a></li>
        <li><a href="./aboutUs.html">sobre nós</a></li>
      </ul>
      <p>Match in Christ - Encontre o Amor na Fé <br>
        © 2023 Match in Christ. Todos os direitos reservados.</p>
    </div>
    <img src="../img/logo-for-footer.svg" alt="icone do app">
  </footer>
</main>
</body>

</html>