<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MATCH IN CHRIST</title>
    <link rel="icon" type="image/x-icon" href="../img/favicon.ico">
    <!-- CSS -->

    <link rel="stylesheet" href="../stylesheets/styleGlobal.css">
    <link rel="stylesheet" href="../stylesheets/match.css">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400;600&family=Roboto:wght@700&display=swap">
</head>

<main>
    <header>
        <nav class="menu">
            <ul>
                <li>
                    <a href="/index.html"><img src="../img/logo-black-and-white.svg" alt="logo do menu" /></a>
                </li>
                <li><a href="/index.html">Página Inicial</a></li>
                <li><a href="./aboutUs.html">Sobre nós</a></li>
                <li><a href="./src/views/login.html" class="btnLogin">Entrar</a></li>
                <li>pt-br</li>
            </ul>
        </nav>
    </header>
    <section class="match">
        <div class="match-card">
            <div class="match-nav">
                <p class="nav-btn">nav</p>
                <p class="nav-btn">nav</p>
            </div>
            <div class="match-footer">
            </div>
            <div class="match-footer-text">
                <ul class="match-id">
                    <li class="match-name">Ana 25</li>
                </ul>
                <div class="match-place">
                    <img class="place-logo" src="../img/place_icon.png" alt="icone de lugar">
                    <p class="place-name">Paz do Coração, Minas Gerais</p>
                </div>
            </div>
        </div>
        <div class="match-card-back">
            <div class="match-nav">
                <p class="nav-btn">nav</p>
                <p class="nav-btn">nav</p>
            </div>
        </div>
    </section>
    <footer>
        <div class="principalLinks">
            <ul>
                <li><a href="">acessibilidade</a></li>
                <li><a href="">termos e condições</a></li>
                <li><a href="./aboutUs.html">sobre nós</a></li>
            </ul>
            <p>Match in Christ - Encontre o Amor na Fé <br>
                © 2023 Match in Christ. Todos os direitos reservados.</p>
        </div>
        <img src="../img/logo-for-footer.svg" alt="icone do app">
    </footer>
    </body>

</html>