main {
    background-color: #fff;
}

.sobreNos {
    display: flex;
    flex-flow: column nowrap;
}

.aboutUs-1 {
    display: flex;
    align-self: center;
    margin-top: 2em;
    margin-bottom: 1em;
    width: 80%;
    border: 1px solid black;
    filter: drop-shadow(5px 5px 10px #000000);
}

.aboutUs-1 .text-1 .text-first {
    font-family: 'PlayFair Display', sans-serif;
    color: #000;
    font-size: 1.2em;
}

.aboutUs-1 .text-1 {
    font-family: 'Poppins';
    color: #000;
    margin-left: 1em;
    margin-top: 2em;
    width: 60%;
    font-size: 17px;
}

.aboutUs-1 .couple-1 {
    max-height: 400px;
}

.aboutUs-2 {
    background-image: url(../img/wave-pink.svg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.aboutUs-2 .text-2 .text-first {
    font-family: 'PlayFair Display', sans-serif;
    color: #000;
    font-size: 1.2em;
}

.aboutUs-2 .text-2 {
    font-family: 'Poppins';
    color: #000;
    margin-right: 1em;
    width: 50%;
    font-size: 17px;
}

.aboutUs-2 .couple-2 {
    max-height: 400px;
}