.match-card {
    background-image: url(../img/woman-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 1.7em;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 10px;
    width: 25em;
    height: 40em;
}

.match-card .match-id {
    margin-left: 1.5em;
    display: flex;
    font-family: 'Milky Bar';
    color: #fff;
    list-style: none;
}

.match-card .match-id .match-name {
    font-size: 2em;
}